.footer-section{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.footer-section .footer-container{
    display: flex;
    width: 65%;
    align-items: center;
    justify-content: space-between
}

.footer_lists{
    display: flex;

    gap: 3rem;
}

.footer_lists li {
    list-style: none;
    font-size: 20px;
}
.footer_contact{
    
    display: flex;
    gap: 3rem;
}
.footer_contact_email {
   
}