/* // .navbar */
.navbar {
    display: flex;
    width: 100%;
    height: 150px;
    align-items: center;
    justify-content: space-between;
    /* display: none; */
}

.navbar__links {
    display: flex;
    align-items: center;
    gap: 3rem;
    /* display: none; */
}


.navbar__links .navbar__link {
    list-style: none;
}

.navbar__links .navbar__link a {
    text-decoration: none;
    color: black;

}

.navbar__links .navbar__link a:hover {
    color: var(--hover-a);
    transition: var(--smooth);
}

.navbar__logo {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 1rem;
}

.navbar__logo__icon {
    padding: 20px;
    border: 1px solid var(--pruple);
    border-radius: 50%;
}

.navbar__logo__email {
    /* color: black; */
    width: 150px;
    /* text-decoration: none; */
}

@media (max-width: 1300px) {
    .navbar {
        position: relative;

    }

    .navbar__links {
        position: fixed;
        top: 0;
        display: flex;
        width: 100%;
        height: 100%;
        background-color: black;
    }
    .navbar__links .navbar__link a {
        text-decoration: none;
        color: #fff;
    
    }
}