.brands-section__container {
  width: 75%;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  justify-content: center;
  /* align-items: flex-end; */
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 200px;
}

.brands-section-right {
  display: flex;
  flex-direction: column;

  gap: 20px;
  /* width: 70%; */
  /* flex: 1; */
}

.brands-section-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 40%;
}

.brands-section-left__content {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.brands-section-right__content img {
  height: fit-content;
  /* width: 329px; */
  box-shadow: -20px 10px rgb(234, 249, 250), -40px 20px rgb(245, 252, 253);
}

.brands-section-left__navigation {
  display: flex;
  gap: 1rem;
}

.arrow-opacity {
  opacity: 0.3;
}

.brands-section-right__title h1 {
  font-size: 25px;
}

.brands-section-left__navigation span {
  cursor: pointer;
}

.swiper {
  width: 600px;
  height: 250px;
  /* height: 100%; */
  /* flex: 1; */
}

@media (max-width: 1300px) {
  .brands-section__container {
    flex-direction: column;
    align-items: center;
  }

  .swiper {
    width: 75%;
    height: 300px;
  }
}

@media (max-width: 1240px) {
  .swiper {
    width: 75%;
    height: 320px;
  }
}

@media (max-width: 1000px) {
  .swiper {
    width: 100%;
    height: 470px;
  }
}

@media (max-width: 768px) {
  .swiper {
    width: 100%;
    height: 500px;
  }
}

@media (max-width: 600px) {
  .swiper {
    width: 100%;
    height: 370px;
  }
}

@media (max-width: 425px) {
  .swiper {
    width: 75%;
    height: 300px;
  }
}