.brands-section__container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
}

.brands-section-right {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.brands-section-left {
    display: flex;
    flex-direction: column;
    width: 40%;
}