* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green-l: #eaf9fa;
  --pruple: #f9fafd;
  --purple-strong: #f4f6fb;
  --smooth: all 0.3s ease-in;
  --hover-a: #e96514;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  padding: 140px;
  padding-top: 0;
  min-width: 480px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  margin: 0 28px;
  margin-bottom: 0px;
}

section {
  width: 100%;
  /* padding: 140px;  */
  padding-top: 0;
}

.container {
  width: 100%;
  /* padding: 140px; */
  display: flex;
  justify-content: center;
}

/* banner */
.banner {
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.banner_avatar {
  position: relative;
  width: 408px;
  height: 405px;
  background-color: transparent;
  overflow: hidden;
}

.banner_avatar .banner_avatar__background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 408px;
  height: 405px;
  background-color: #eaf9fa;
  overflow: hidden;
  border-radius: 50%;
}

.banner_avatar .banner_avatar__background img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 400px;
}

.banner_avatar img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 400px;
}

.banner_avatar::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 410px;
  height: 400px;
  background-color: transparent;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0 100px 0 40px #fff;
}

.banner_name2 {
  text-align: center;
  /* width: 1000px; */
  width: auto;
  max-width: 1000px;
  font-size: 40px;
}

.banner_name2 h1 {
  line-height: 56px;
}

.banner_name3 {
  text-align: center;
  width: 649px;
}

.banner__btn {
  width: 240px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  cursor: pointer;
  background-color: black;
}

.banner__btn a {
  text-decoration: none;
  color: #fff;
}

.banner__btn:hover {
  transition: var(--smooth);
  background-color: var(--hover-a);
}


/* service */
.banner_services {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 200px;
  align-items: center;
}

.banner_services .banner_services__background {
  width: 50%;
  position: absolute;
  min-width: 600px;
  z-index: -1;
  background-color: #f4f6fb;
  height: 560px;
}

.banner_services__content__list {
  display: flex;
  justify-content: center;
  gap: 75px;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}

.list-project-section__item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.banner_services__content__item {
  /* width: calc((100% - 55rem) /3); */
  width: 335px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  gap: 12px;
}

.banner_services .banner_services__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.banner_services .banner_services__content h1 {
  font-size: 41px;
}

.banner_services__content__item_content {
  padding: 27px;
}

.banner_services__content__item .banner_services__content__item-icon {
  width: 84px;
}

.banner_services__content__item_content {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.box {
  width: auto;
  height: auto;
  border: solid 5px #000;
  border-color: #000 transparent transparent transparent;
  border-radius: 50%/100px 100px 0 0;
}
