.footer-section {
    width: 85%;
    padding-top: 5px;
    margin: 50px auto;
    margin-bottom: 100px;
    /* display: flex; */
    border-top: 1px solid #f4f6fb;
    justify-content: center;
}

.footer-section .footer-container {
    display: flex;
    /* width: 65%; */
    justify-content: center;
}

.footer_lists {
    display: flex;
    gap: 2rem;
}

.footer_lists li {
    list-style: none;
    font-size: 30px;
    cursor: pointer;
    transition: var(--smooth);
}

.footer_lists li:hover {

    color: var(--hover-a);
}

.footer_contact {

    display: flex;
    gap: 3rem;
}

.footer_contact_email {}

@media (max-width: 768px) {
    .footer_lists li {
        list-style: none;
        font-size: 17px;
        cursor: pointer;
        transition: var(--smooth);
    }
}