.brands-section__container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.brands-section-right {
  display: flex;
  width: 40%;
  max-width: 320px;
  flex-direction: column;
  gap: 20px;
}

.brands-section-left__content p {
  text-align: justify;
}

.brands-section-left__content h2 {
  font-weight: 300;
}

.brands-section-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 40%;
}

.brands-section-left__content {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.brands-section-right__content img {
  height: fit-content;
  box-shadow: -20px 10px rgb(234, 249, 250), -40px 20px rgb(245, 252, 253);
}

.brands-section-left__navigation {
  display: flex;
  gap: 1rem;
}

.arrow-opacity {
  opacity: 0.3;
}

.brands-section-right__title h1 {
  font-size: 30px;
}

.brands-section-left__navigation span {
  cursor: pointer;
}

.swiper {
  width: 50%;
}

.brands-section-left__content p {
  line-height: 30px;
  font-size: 21px;
}


@media (max-width: 1300px) {
  /* .brands-section__container {
    justify-content: flex-start;
    align-self: flex-start;
  } */

  .swiper {
    padding-top: 0 !important;
    width: 450px;
  }

  .brands-section-left__content h2 {
    font-size: 20px;
  }

  .brands-section-left__content p {
    font-size: 21px;
  }
}

@media (max-width: 1150px) {
  .brands-section__container {
    justify-content: center
  }
  .brands-section-right {
    display: flex;
    width: 80%;
    max-width: 500px;
    flex-direction: column;
    gap: 20px;
  }
  
}